flows.json
[
    {
        "id": "71de049c.c0ddac",
        "type": "tab",
        "label": "Hello world",
        "disabled": false,
        "info": ""
    },
    {
        "id": "66151651144c8b05",
        "type": "http in",
        "z": "71de049c.c0ddac",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "0401a3beac7c0fa2"
            ]
        ]
    },
    {
        "id": "0906db8d3961e04f",
        "type": "http response",
        "z": "71de049c.c0ddac",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "0401a3beac7c0fa2",
        "type": "template",
        "z": "71de049c.c0ddac",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Hello Node RED</h1>",
        "output": "str",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "0906db8d3961e04f"
            ]
        ]
    },
    {
        "id": "31b91f4d3841bc09",
        "type": "lower-case",
        "z": "71de049c.c0ddac",
        "name": "",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "8bdc9cca3190fefc"
            ]
        ]
    },
    {
        "id": "8bdc9cca3190fefc",
        "type": "debug",
        "z": "71de049c.c0ddac",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "18a6fb47a8ea1d89",
        "type": "inject",
        "z": "71de049c.c0ddac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "NaMeTEST",
        "payloadType": "str",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "31b91f4d3841bc09"
            ]
        ]
    }
]